.SignUp{
    color: rgb(12, 12, 12);
    margin: 2vh 0vw 4vw 37vw;
  
     
   }
   .SignUp h1 {
    text-align: center;
    color: rgb(10, 9, 10);
    font-weight: 300px;
  }
   .SignUp-Button, .Login-Button {
     background-color: black;
     color: white;
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     margin-right: 10px;
     box-shadow: 0 4px 4px 0 red;
     transition: all 0.3s ease;
     margin-top: 2vh;
     gap: 3vw;
     
   }
   
   .SignUp-Button:hover, .Login-Button:hover {
     background-color: red;
     color: black;
   }
   .Login-form{
    color: rgb(12, 12, 12);
     margin-top: 10vh;
     margin-left: 37vw;
    
   }
 
   .Login-form h1{
     text-align: center;
     color: rgb(0, 0, 0);
     font-weight: 300px;
   }
   
   
   .SignUp, .Login-form {
     border: 1px solid rgba(236, 234, 234, 0.822);
     padding: 20px;
     width: 400px;
     border-radius: 15px;
     
     margin-right: auto;
     box-shadow: 0 4px 8px 0 red;
     background-color: #ccc;
   
   }
   
   .formName, .formEmail, .formPassword, .formConfirmPassword, .formContactNumber, .inputs {
     width: 100%;
     padding: 8px;
     margin: 10px 0;
     border: 1px solid #ccc;
     border-radius: 4px;
   }
   
   .black-button {
     background-color: black;
     color: white;
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     margin-top: 20px;
     box-shadow: 0 4px 8px 0 red;
     transition: all 0.3s ease;
    
   }
   
   .black-button:hover {
     background-color: red;
     color: black;
   }
   
   .RoleOption {
     display: flex;
     align-items: center;
     margin-top: 10px;
   }
   
   .RoleOption label {
     margin-left: 5px;
   }